html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
}


/* Preloader */

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d3d3d;
    z-index: 999999;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    left: 48%;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #1b1c25;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}


/* PGB */

#particles-js canvas {
    display: inline-block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    width: 100%;
    height: 110%;
    position: fixed !important;
    overflow-y: scroll;
    -webkit-transition: opacity .8s ease, transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
    -moz-transition: opacity .8s ease, transform 1.4s ease;
    -ms-transition: opacity .8s ease, transform 1.4s ease;
    -o-transition: opacity .8s ease, transform 1.4s ease;
    -moz-transform: scale(1);
    -o-transform: scale(1);
}

#particles-js {
    display: block;
    width: 100%;
    height: 110%;
    background: #262626;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Header and Nav */

header {
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 3%;
    z-index: 300;
}

.headerstyle {
    background-color: rgba(255, 255, 255, .04);
    border-radius: 50px;
    margin: 10px 20%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.scrollUp {
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
}

.logo {
    cursor: pointer;
    height: 45px;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

li,
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style-type: none;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #e7305b;
}


/* Button Styles */

#lgbtn {
    padding: 9px 25px;
    background-color: #e7305b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#lgbtn:hover {
    background-color: #0a97b0;
}

#dgbtn {
    padding: 9px 25px;
    margin-right: 20px;
    background-color: #e7305b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#dgbtn:hover {
    background-color: #0a97b0;
}

#lbtn {
    margin: 70px;
}

#bgbtn {
    padding: 9px 25px;
    background-color: #218c74;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#bgbtn:hover {
    background-color: #e7305b;
}

.cta {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


/* Section Styles */

section {
    height: 100vh;
    width: 100%;
    margin: 10px 0px 5px 0px;
}

#home {
    margin: 10px 0px;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 10px 0px 0px 0px;
}

#projects {
    height: auto;
    margin: 25px 0px;
}


/* Landing section */

#landing {
    margin: 0px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#land {
    display: block;
}

#prophoto {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    height: 270px;
    width: 270px;
}

.sicons {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto 0;
}

.sicons img {
    width: 45px;
    height: 45px;
    margin: 10px;
}

.sicons img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/* Home section */

.lf {
    float: left;
    width: 50%;
}

#text1 {
    font-size: 2rem;
    color: #e4e3e3;
}

#text2 {
    font-size: 4rem;
    color: #e7305b;
}

#text3 {
    font-size: 1.7rem;
    color: #ff847c;
}

#text4 {
    font-size: 1.2rem;
    color: #e4e3e3;
}

.lcontent {
    margin: 15% 5% 20% 15%;
    font-family: 'Open Sans', sans-serif;
}

.rf {
    float: right;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 5px 60px;
}

.rf img {
    width: 100%;
    height: 60%;
}

#lbtn {
    margin: 5% 5% 2% 0%;
}

.ml9 {
    position: relative;
    font-weight: 100;
    font-size: 0.2em;
}

.ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}


/* Interests Section */

.sechead {
    margin: 5px;
    padding: 35px;
    text-align: center;
    font-size: 1.7rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#interests {
    margin: 10px 0px;
}


/* Projects Section */

#projects {
    margin: 10px 0px 60px 0px;
}

.secondhead {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    color: #edf0f1;
    margin: 30px 0px;
    padding: 20px;
}

.sbtn {
    cursor: pointer;
}

.sgallery {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.snav {
    padding: 25px 0px;
    margin-bottom: 20px;
}

.snav a {
    margin-right: 5px;
    text-decoration: none;
    border: 2px solid #ccc;
    padding: 10px 25px;
    border-radius: 50px;
    color: #16a085;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.snav a.actv {
    background-color: #16a085;
    border-color: #16a085;
    color: #fff;
}

.imgcont div {
    display: inline-block;
}

.imgcont img {
    margin: 6px;
    width: 400px;
    height: 250px;
}


/* Contact Section */

input,
textarea {
    font-family: "Poppins", sans-serif;
}

.fcontainer {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    max-width: 1050px;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #10ac84;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.contact-form {
    background-color: #3d3d3d;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #10ac84);
    position: absolute;
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #10ac84;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form {
    padding: 1.3rem 2.5rem;
    overflow: hidden;
    position: relative;
}

.title {
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.t2 {
    margin-bottom: 35px;
    color: #10ac84;
}

.input-container {
    position: relative;
    margin: 0.7rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 0.6rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.6rem 0.6rem;
    min-height: 100px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.subtitle {
    font-weight: 200;
    margin-top: 5px;
    text-align: center;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.8rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

label {
    font-family: "Poppins", sans-serif;
}

.information p {
    color: #3d3d3d;
    font-family: 'Montserrat', sans-serif;
}

.information img {
    height: 20px;
    width: 20px;
    margin-top: 13px;
    margin-right: 10px;
    color: #fff;
}

.info iframe {
    height: 100%;
    width: 100%;
}

.btn {
    padding: 0.6rem 1.7rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #10ac84;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 1rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #3d3d3d;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before {
    left: 50%;
}

.input-container span:after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}

.contact-info {
    padding: 1.7rem 2.2rem;
    position: relative;
}

.contact-info .title {
    color: #3d3d3d;
}

.text {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0.7rem 0rem;
}

.information {
    display: flex;
    color: #3d3d3d;
    font-size: 0.95rem;
}

.social-media {
    padding: 1rem 0 0 0;
}

.social-media p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.social-icons {
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #10ac84, #3d3d3d);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.05);
}

.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #10ac84;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #10ac84, #3d3d3d);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}

.big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}

.square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
}


/* Footer Section */

footer {
    background-color: transparent;
    position: static;
    height: auto;
    bottom: 0;
    margin-top: 20px;
}

.footer p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    margin: 0;
}

#fcircle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #d63031;
    margin: 0 auto;
    z-index: 100;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

#fcircle img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

#fhead {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    margin: 10px 0px;
}

footer .sicons {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px auto;
}

footer .sicons img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

#f1 {
    padding: 7px 12px 2px 12px;
}

#f2 {
    padding: 0px 12px 7px 12px;
}

.ftrbox {
    border-radius: 50px;
    margin: 10px 10% 15px 10%;
    background-color: rgba(255, 255, 255, 0.04);
}


/* Mobile Responsive */

@media (max-width: 550px) {
    body {
        width: 100%;
    }
    nav {
        display: none;
    }
    .headerstyle {
        margin: 10px 15%;
    }
    .lf {
        display: block;
        width: 100%;
    }
    .lcontent {
        margin: 10% 15% 10% 15%;
    }
    #text1 {
        text-align: center;
    }
    #text2 {
        text-align: center;
    }
    #text3 {
        display: none;
    }
    #text4 {
        color: #e4e3e3;
        text-align: center;
    }
    .rf {
        display: block;
        width: 100%;
    }
    .rf img {
        display: block;
    }
    #dgbtn {
        display: block;
        margin: 10% auto;
    }
    #bgbtn {
        display: block;
        margin: 50px auto;
    }
    #prophoto {
        height: 250px;
        width: 250px;
    }
    .contact-info:before {
        display: none;
    }
    .square,
    .big-circle {
        display: none;
    }
    form,
    .contact-info {
        padding: 1.7rem 1.2rem;
    }
    .text,
    .information,
    .social-media p {
        font-size: 1rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .icon {
        width: 23px;
    }
    .input {
        padding: 0.45rem 0rem;
    }
    textarea.input {
        padding: 0.6rem 0rem;
    }
    .btn {
        padding: 0.75rem 1.2rem;
    }
}

@media (max-width: 1250px) {
    body {
        width: 100%;
    }
    nav {
        display: none;
    }
    #landing {
        height: 90vh;
    }
    .lf {
        display: block;
        width: 100%;
    }
    .lcontent {
        margin: 10% 15% 10% 15%;
    }
    #text1 {
        text-align: center;
    }
    #text2 {
        text-align: center;
    }
    #text3 {
        display: none;
    }
    #text4 {
        color: #e4e3e3;
        text-align: justify;
    }
    .rf {
        display: block;
        width: 100%;
    }
    .rf img {
        display: block;
    }
    #dgbtn {
        display: block;
        margin: 10% auto;
    }
    #bgbtn {
        display: block;
        margin: 50px auto;
    }
    #prophoto {
        height: 250px;
        width: 250px;
    }
    .imgcont div {
        display: block;
        width: 100%;
    }
    .imgcont img {
        margin: 8px;
        width: 80%;
        height: 80%;
    }
    .form {
        width: 100%;
        max-width: 100%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        grid-template-columns: 1fr;
    }
    .fcontainer {
        padding: 1.3rem;
    }
    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }
    .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
    }
    .square {
        transform: translate(140%, 43%);
        height: 350px;
    }
    .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
    }
    .text {
        margin: 1rem 0 1.5rem 0;
    }
    .social-media {
        padding: 1.5rem 0 0 0;
    }
    .info iframe {
        height: 120%;
        width: 100%;
    }
}

@media (min-width: 1950px) {
    body {
        width: 100%;
    }
    section {
        height: 100vh;
    }
}