html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    background: #262626;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}


/* Header and Nav */

header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    z-index: 30;
}

.logo {
    cursor: pointer;
    height: 45px;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

li,
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style-type: none;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #e7305b;
}


/* Button Styles */

#lgbtn {
    padding: 9px 25px;
    background-color: #e7305b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#lgbtn:hover {
    background-color: #0a97b0;
}

#dgbtn {
    padding: 9px 25px;
    margin-right: 20px;
    background-color: #e7305b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#dgbtn:hover {
    background-color: #0a97b0;
}

#bgbtn {
    padding: 9px 25px;
    background-color: #e7305b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#bgbtn:hover {
    background-color: #0a97b0;
}

.cta {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


/* Section Styles */

section {
    height: 100vh;
    width: 100%;
    margin: 0px;
}


/* Landing section */

#landing {
    height: 100vh;
    margin: 0;
}

#land {
    display: block;
    padding-top: 165px;
}

#prophoto {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    height: 270px;
    width: 270px;
}

.sicons {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}

.sicons img {
    width: 45px;
    height: 45px;
    margin: 10px;
}


/* Home section */

.lf {
    float: left;
    width: 50%;
}

#text1 {
    font-size: 1.4rem;
    color: #e4e3e3;
}

#text2 {
    font-size: 3rem;
    color: #e7305b;
}

#text3 {
    font-size: 2rem;
    color: #ff847c;
}

#text4 {
    font-size: 1.2rem;
    color: #e4e3e3;
}

.lcontent {
    margin: 15% 5% 20% 15%;
    font-family: 'Open Sans', sans-serif;
}

.rf {
    float: right;
    width: 50%;
}

.rf img {
    margin: 5% 0%;
    padding: 2%;
    width: 90%;
    height: 90%;
}

#lbtn {
    margin: 5% 5% 2% 0%;
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;
    }
    #particles-js {
        height: auto;
    }
    section {
        height: 100vh;
    }
    #particles-js canvas {
        display: block;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
        transition: opacity .8s ease, transform 1.4s ease
    }
    #particles-js {
        width: 100%;
        height: 100%;
        background: #262626;
        position: fixed;
        z-index: -10;
        top: 0;
        left: 0
    }
    nav {
        display: none;
    }
    #land {
        padding-top: 45%;
    }
    .lf {
        display: block;
        width: 100%;
    }
    .lcontent {
        margin: 10% 15% 10% 15%;
    }
    #text1 {
        text-align: center;
    }
    #text2 {
        text-align: center;
    }
    #text3 {
        display: none;
    }
    #text4 {
        color: #e4e3e3;
        text-align: justify;
    }
    .rf {
        display: block;
        width: 100%;
    }
    .rf img {
        display: block;
    }
    #dgbtn {
        display: block;
        margin: 10% auto;
    }
    #bgbtn {
        display: block;
        margin: 1% auto;
    }
    #prophoto {
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 950px) {
    body {
        width: 100%;
    }
    #particles-js {
        height: 100vh;
    }
    #particles-js canvas {
        display: block;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
        transition: opacity .8s ease, transform 1.4s ease
    }
    #particles-js {
        width: 100%;
        height: 100%;
        background: #262626;
        position: fixed;
        z-index: -10;
        top: 0;
        left: 0
    }
    section {
        height: 100vh;
    }
    #prophoto {
        width: 50%;
        height: 50%;
    }
}