/* ------------ ☀️ / 🌒 Switch Toggle ------------ */

.toggle {
    position: fixed;
    cursor: pointer;
    top: 15px;
    right: 20px;
    z-index: 10;
    font-size: 250%;
}

.toggle:before {
    content: '☀️';
}

.toggle.active:before {
    content: '🌒';
}

.toggle.animate {
    animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    -webkit-animation: animate .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@media (max-width: 550px) {
    .toggle {
        top: 17px;
        right: 10px;
        font-size: 175%;
    }
}


/* ------------ 🌊 wave effect ------------ */

.wave {
    position: absolute;
    top: 35px;
    right: 40px;
    border-radius: 100%;
    width: 2px;
    height: 2px;
    display: block;
    z-index: -1;
    box-shadow: 0 0 0 0 #000000;
    transition: box-shadow .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    -webkit-transition: box-shadow .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    -moz-transition: box-shadow .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    -ms-transition: box-shadow .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    -o-transition: box-shadow .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.wave.active {
    background: #000000;
    box-shadow: 0 0 0 9999px #000000;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}